body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#login {
    text-align: center;
    margin: 25px;
}

#login a {
    font-size: smaller;
}

.row {
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: space-around;
    padding: 25px;
    font-size: 16pt;
}

#date-title {
    text-align: center;
}

#schedule {
    display: grid;
    gap: 10px;
    grid-template-columns: auto 1fr;
    padding: 1rem;
    max-height: calc(100vh - 137px - 2rem);
    overflow-y: scroll;
    --numHours: 15;
    --timeHeight: 60px;
    --numCalendars: 1;
}
  
.timeline {
    display: grid;
    grid-template-rows: 30px repeat(var(--numHours), var(--timeHeight));
    gap: 10px;
}

.calendars {
    display: grid;
    grid-column: 2;
    grid-template-columns: repeat(var(--numCalendars), minmax(50px, 1fr));
}

.events {
    display: grid;
    grid-template-rows: repeat(var(--numHours), var(--timeHeight));
    border-radius: 5px;
    gap: 10px;
}

.event {
    border: 1px solid var(--eventBorderColor);
    border-radius: 5px;
    padding: 0.5rem;
    margin: 0 0.5rem;
    overflow: hidden;
}

.event > .title {
    font-size: 11pt;
    font-weight: 600;
    margin-bottom: 0.25rem;
    margin-top: 0.3rem;
}

.space,
.calendar > .title {
    height: 30px;
    text-align: center;
    font-weight: 600;
}

.start-8 {
    grid-row-start: 1;
}

.start-9 {
    grid-row-start: 2;
}

.start-10 {
    grid-row-start: 3;
}

.start-11 {
    grid-row-start: 4;
}

.start-12 {
    grid-row-start: 5;
}

.start-13 {
    grid-row-start: 6;
}

.start-14 {
    grid-row-start: 7;
}

.start-15 {
    grid-row-start: 8;
}

.start-16 {
    grid-row-start: 9;
}

.start-17 {
    grid-row-start: 10;
}

.start-18 {
    grid-row-start: 11;
}

.start-19 {
    grid-row-start: 12;
}

.start-20 {
    grid-row-start: 13;
}

.start-21 {
    grid-row-start: 14;
}

.end-9 {
    grid-row-end: 2;
}

.end-10 {
    grid-row-end: 3;
}

.end-11 {
    grid-row-end: 4;
}

.end-12 {
    grid-row-end: 5;
}

.end-13 {
    grid-row-end: 6;
}

.end-14 {
    grid-row-end: 7;
}

.end-15 {
    grid-row-end: 8;
}

.end-16 {
    grid-row-end: 9;
}

.end-17 {
    grid-row-end: 10;
}

.end-18 {
    grid-row-end: 11;
}

.end-19 {
    grid-row-end: 12;
}

.end-20 {
    grid-row-end: 13;
}

.end-21 {
    grid-row-end: 14;
}

.end-22 {
    grid-row-end: 15;
}